.simpleView, .gridWrapperTwo, .gridWrapperOne {
  width: 100%;
  display: grid;
  gap: 20px;
  justify-items: center;
  align-items: center;
  margin-bottom: 10px;
  grid-template-columns: repeat(3, 31%);
  grid-template-rows: repeat(3, 150px);
}

.imageTemplate, .gridWrapperTwo .longImage, .gridWrapperTwo .regularImage, .gridWrapperTwo .bigImage, .gridWrapperOne .longImage, .gridWrapperOne .regularImage, .gridWrapperOne .bigImage {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: fill;
     object-fit: fill;
  position: relative;
}

.allBTNTemplate, .gridWrapperTwo .longImage .hiddenFilter, .gridWrapperTwo .regularImage .hiddenFilter, .gridWrapperTwo .bigImage .hiddenFilter, .gridWrapperOne .longImage .hiddenFilter, .gridWrapperOne .regularImage .hiddenFilter, .gridWrapperOne .bigImage .hiddenFilter {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 134, 142, 0.7);
}

.btnTemplate, .gridWrapperTwo .longImage .hiddenFilter .button, .gridWrapperTwo .regularImage .hiddenFilter .button, .gridWrapperTwo .bigImage .hiddenFilter .button, .gridWrapperOne .longImage .hiddenFilter .button, .gridWrapperOne .regularImage .hiddenFilter .button, .gridWrapperOne .bigImage .hiddenFilter .button {
  position: absolute;
  background: #FFFFFF;
  border-radius: 10px;
  color: #FF868E;
  border: none;
  outline: none;
  width: 180px;
  height: 34px;
  bottom: 15px;
}

.favTemplate, .gridWrapperTwo .longImage .hiddenFilter .favoriteDiv, .gridWrapperTwo .regularImage .hiddenFilter .favoriteDiv, .gridWrapperTwo .bigImage .hiddenFilter .favoriteDiv, .gridWrapperOne .longImage .hiddenFilter .favoriteDiv, .gridWrapperOne .regularImage .hiddenFilter .favoriteDiv, .gridWrapperOne .bigImage .hiddenFilter .favoriteDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border-radius: 10px;
  position: absolute;
  cursor: pointer;
  width: 70px;
  height: 50px;
}

.gridWrapperOne {
  grid-template-areas: "high1 regular1 regular2" "high1 big1 big1" "regular3 big1 big1";
}
@media screen and (max-width: 800px) {
  .gridWrapperOne {
    height: 185vh;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, 19%);
    display: grid;
    grid-template-areas: "high1" "regular1" "regular2" "big1" "regular3";
  }
}
.gridWrapperOne .bigImage .hiddenFilter .button {
  left: 33%;
}
.gridWrapperOne .bigImage .hiddenFilter .favoriteDiv {
  left: 45%;
  top: 40%;
}
.gridWrapperOne .bigImage:nth-child(5) {
  grid-area: big1;
}
.gridWrapperOne .regularImage .hiddenFilter .button {
  left: 11%;
}
.gridWrapperOne .regularImage .hiddenFilter .favoriteDiv {
  left: 35%;
  top: 35%;
}
.gridWrapperOne .regularImage:nth-child(2) {
  grid-area: regular1;
}
.gridWrapperOne .regularImage:nth-child(3) {
  grid-area: regular2;
}
.gridWrapperOne .regularImage:nth-child(4) {
  grid-area: regular3;
}
.gridWrapperOne .longImage .hiddenFilter .button {
  left: 11%;
}
.gridWrapperOne .longImage .hiddenFilter .favoriteDiv {
  left: 35%;
  top: 45%;
}
.gridWrapperOne .longImage:nth-child(1) {
  grid-area: high1;
}
.gridWrapperOne .longImage .hiddenFilter .button:hover, .gridWrapperOne .regularImage .hiddenFilter .button:hover, .gridWrapperOne .bigImage .hiddenFilter .button:hover {
  cursor: pointer;
}
.gridWrapperOne .longImage:hover .hiddenFilter, .gridWrapperOne .regularImage:hover .hiddenFilter, .gridWrapperOne .bigImage:hover .hiddenFilter {
  display: flex;
}
.gridWrapperOne .longImage:hover, .gridWrapperOne .regularImage:hover, .gridWrapperOne .bigImage:hover {
  cursor: pointer;
}

.gridWrapperTwo {
  grid-template-areas: "regular1 regular2 high" "big big high" "big big regular3";
}
@media screen and (max-width: 800px) {
  .gridWrapperTwo {
    height: 185vh;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, 19%);
    display: grid;
    grid-template-areas: "high" "regular1" "regular2" "big" "regular3";
  }
}
.gridWrapperTwo .bigImage .hiddenFilter .button {
  left: 33%;
}
.gridWrapperTwo .bigImage .hiddenFilter .favoriteDiv {
  top: 40%;
  left: 45%;
}
.gridWrapperTwo .bigImage:nth-child(4) {
  grid-area: big;
}
.gridWrapperTwo .regularImage .hiddenFilter .button {
  left: 11%;
}
.gridWrapperTwo .regularImage .hiddenFilter .favoriteDiv {
  top: 35%;
  left: 35%;
}
.gridWrapperTwo .regularImage:nth-child(1) {
  grid-area: regular1;
}
.gridWrapperTwo .regularImage:nth-child(2) {
  grid-area: regular2;
}
.gridWrapperTwo .regularImage:nth-child(5) {
  grid-area: regular3;
}
.gridWrapperTwo .longImage .hiddenFilter .button {
  left: 11%;
}
.gridWrapperTwo .longImage .hiddenFilter .favoriteDiv {
  top: 35%;
  left: 45%;
}
.gridWrapperTwo .longImage:nth-child(3) {
  grid-area: high;
}
.gridWrapperTwo .image {
  border-radius: 10px;
  -o-object-fit: fill;
     object-fit: fill;
}
.gridWrapperTwo .longImage .hiddenFilter .button:hover, .gridWrapperTwo .regularImage .hiddenFilter .button:hover, .gridWrapperTwo .bigImage .hiddenFilter .button:hover {
  cursor: pointer;
}
.gridWrapperTwo .longImage:hover .hiddenFilter, .gridWrapperTwo .regularImage:hover .hiddenFilter, .gridWrapperTwo .bigImage:hover .hiddenFilter {
  display: flex;
}
.gridWrapperTwo .longImage:hover, .gridWrapperTwo .regularImage:hover, .gridWrapperTwo .bigImage:hover {
  cursor: pointer;
}

.navBTNS {
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
  gap: 40px;
}
.navBTNS .navBTNItem {
  border: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
}/*# sourceMappingURL=gridImages.module.css.map */