//templates
.simpleView {
  width: 100%;
  display: grid;
  gap:20px;
  justify-items: center;
  align-items: center;
  margin-bottom: 10px;
  grid-template-columns: repeat(3, 31%);
  grid-template-rows: repeat(3, 150px);
}

.imageTemplate {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: fill;
  position: relative;
}

.allBTNTemplate {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  left:0;
  top: 0;
  background-color: rgba(255, 134, 142, 0.7);
}

.btnTemplate {
  position: absolute;  
  background: #FFFFFF;
  border-radius: 10px;
  color: #FF868E;
  border: none;
  outline: none;
  width: 180px;
  height: 34px;
  bottom: 15px;
}

.favTemplate {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border-radius: 10px;
  position: absolute; 
  cursor: pointer;
  width: 70px;
  height: 50px;
}

//styles
.gridWrapperOne {
  @media screen and (max-width: 800px) {
    height: 185vh;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, 19%);
    display: grid;
    grid-template-areas: 
    'high1' 
    'regular1' 
    'regular2'
    'big1'
    'regular3';
  }

   @extend .simpleView;
    grid-template-areas: 
          'high1 regular1 regular2'
          'high1 big1 big1'
          'regular3 big1 big1';
   .bigImage{
    @extend .imageTemplate;

    .hiddenFilter {
        .button{
          left: 33%;
        }
        .favoriteDiv{
           left: 45%;
           top:40%;
        }}
    &:nth-child(5){
        grid-area: big1;
       }
   }
  .regularImage{
    @extend .imageTemplate;

    .hiddenFilter {
        .button{
          left: 11%;
        }
        .favoriteDiv{
          left: 35%;
          top:35%;
        }}
   
    &:nth-child(2){
        grid-area: regular1;
       }
    &:nth-child(3){
        grid-area: regular2;
    }
    &:nth-child(4){
        grid-area: regular3;
    }
   }    
  .longImage{
    @extend .imageTemplate;

    .hiddenFilter {
        .button{
          left: 11%;
        }
        .favoriteDiv{
          left: 35%;
          top:45%;
        }}

    &:nth-child(1){
        grid-area: high1;
       }
}

   .longImage, .regularImage, .bigImage {
         .hiddenFilter {
          @extend .allBTNTemplate;

        .button{
          @extend .btnTemplate;
          &:hover{
            cursor: pointer;
          }
        }

        .favoriteDiv{
          @extend .favTemplate;
        } 
    }

    &:hover{
     .hiddenFilter {
        display: flex;
     }
    }
    &:hover{
        cursor: pointer;
    }
   } }

   .gridWrapperTwo {
      @media screen and (max-width: 800px) {
        height: 185vh;
        grid-template-columns: 100%;
        grid-template-rows: repeat(5, 19%);
        display: grid;
        grid-template-areas: 
        'high' 
        'regular1' 
        'regular2'
        'big'
        'regular3';
  }
  @extend .simpleView;
    grid-template-areas: 
          'regular1 regular2 high'
          'big big high'
          'big big regular3';
   
   .bigImage{
    @extend .imageTemplate;

    .hiddenFilter {
        .button{
          left: 33%;
        }
        .favoriteDiv{
          top: 40%;
          left: 45%;
        }}
    &:nth-child(4){
        grid-area: big;
       }
   }
  .regularImage{
    @extend .imageTemplate;

    .hiddenFilter {
        .button{
          left: 11%;
        }
        .favoriteDiv{
          top: 35%;
          left: 35%;
        }}
   
    &:nth-child(1){
        grid-area: regular1;
       }
    &:nth-child(2){
        grid-area: regular2;
    }
    &:nth-child(5){
        grid-area: regular3;
    }
   }    
  .longImage{
    @extend .imageTemplate;

    .hiddenFilter {
        .button{
          left: 11%;
        }
        .favoriteDiv{
          top: 35%;
          left: 45%;
        }}

    &:nth-child(3){
        grid-area: high;
       }
}
   .image{
    border-radius: 10px;
    object-fit: fill;
   }

   .longImage, .regularImage, .bigImage {
         .hiddenFilter {
             @extend .allBTNTemplate;
        .button{
          @extend .btnTemplate;
          &:hover{
            cursor: pointer;
          }
        }
        .favoriteDiv{
          @extend .favTemplate;
        } 
    }
    &:hover{
     .hiddenFilter {
        display: flex;
     }
    }
    &:hover{
        cursor: pointer;
    }
   } }

   .navBTNS{
     display: flex;
     width: 100%;
     height: 70px;
     justify-content: center;
     align-items: center;
     padding: 12px 0; 
     gap: 40px;

     .navBTNItem{
      border: none;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 150px;
      height: 40px;
      border-radius: 10px;
      cursor: pointer;
     }
   }