//variables
@import '../styles/variables.module.scss';

.navWrapper{
    display: flex;
    width: 100%;
    background-color: $mainBackground;
    position: relative;
    flex-direction: column;
  
   .hiddenMenu {
    position: absolute;
    width: 95%;
    height: 300px;
    border: 2px solid black;
    border-radius: 20px;
    top: 100%;
    z-index: 1;
    background-color: #FFFFFF;
    overflow: scroll;
    box-shadow: 15px 18px 66px 35px rgba(0,0,0,0.73);
    -webkit-box-shadow: 15px 18px 66px 35px rgba(0,0,0,0.73);
    -moz-box-shadow: 15px 18px 66px 35px rgba(0,0,0,0.73);
    &::-webkit-scrollbar {
        display: none;
      }
    
    span{
        display: flex;
        padding: 5%;
        width: 100%;
        height: 20vh;
    }

    ul {
    display: flex;
    flex-direction: column;
    gap: 15px;

        li {
            list-style: none;
            cursor: pointer;
            height: 40px;
            padding: 4px;
            display: flex;
            transition: .4s ease;
            &:hover {
              background-color: rgb(172, 171, 170);
            }
        }
    }
   }
   .searchAndLinks{ 
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;
    gap: 10px;

    form {
        display: flex;
        width: 100%;
        position: relative;
    }

    input{
        height: 60px;
        width: 100%;
        background: #FFFFFF;
        border-radius: 20px;
        outline: none;
        border: none;
        font-size: 20px;
        padding: 15px 0 15px 20px;
        color: rgba(140, 140, 140, 1);

        &:focus{
            border: 3px solid #FBE0DC;
        }
      }
      .label{
        @media only screen and (max-width: 1000px) {
            display: none;
           }
        @media only screen and (max-width: 1366px) {
            left: 93%;
           }
          position: absolute;
          outline: none;
          border: none;
          background: none;
          left: 90%;
          top: 15%;
         }

    .linksBTN {
        display: flex;
        gap: 10px;

}}}


.burger{
    display: flex;
    width: 120px;
    height: 60px;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    .burgerLine{
        width: 30px;
        height: 5px;
        border-radius: 10px;
        background-color: #FF868E;
        position: relative;

        &::after{
            content: ' ';
            width: 30px;
            height: 5px;
            border-radius: 10px;
            background-color: #FF868E;
            position: absolute;
            top : 10px;
        }
        &::before{
            content: ' ';
            width: 30px;
            height: 5px;
            border-radius: 10px;
            background-color: #FF868E;
            position: absolute;
            top : -10px;
        }
        
    }
}

.mobileModal{
    display: flex;
    width: 100%;
    height: 100vh;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: $mainBackground;
    
    .closeModalWrapper{
        position: relative;
        top: -27%;
        left: 47%;
        display: flex;
        justify-content: center;
        align-items: center;
        .closeModalBTN{
           
        }
    }
   
}