.navWrapper {
  display: flex;
  width: 100%;
  background-color: #E5E5E5;
  position: relative;
  flex-direction: column;
}
.navWrapper .hiddenMenu {
  position: absolute;
  width: 95%;
  height: 300px;
  border: 2px solid black;
  border-radius: 20px;
  top: 100%;
  z-index: 1;
  background-color: #FFFFFF;
  overflow: scroll;
  box-shadow: 15px 18px 66px 35px rgba(0, 0, 0, 0.73);
  -webkit-box-shadow: 15px 18px 66px 35px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 15px 18px 66px 35px rgba(0, 0, 0, 0.73);
}
.navWrapper .hiddenMenu::-webkit-scrollbar {
  display: none;
}
.navWrapper .hiddenMenu span {
  display: flex;
  padding: 5%;
  width: 100%;
  height: 20vh;
}
.navWrapper .hiddenMenu ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.navWrapper .hiddenMenu ul li {
  list-style: none;
  cursor: pointer;
  height: 40px;
  padding: 4px;
  display: flex;
  transition: 0.4s ease;
}
.navWrapper .hiddenMenu ul li:hover {
  background-color: rgb(172, 171, 170);
}
.navWrapper .searchAndLinks {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding: 0;
}
@media only screen and (max-width: 1600px) {
  .navWrapper .searchAndLinks {
    padding: 10px;
  }
}
@media only screen and (max-width: 600px) {
  .navWrapper .searchAndLinks {
    justify-content: space-between;
  }
}
.navWrapper .searchAndLinks form {
  display: flex;
  width: 100%;
  position: relative;
}
@media only screen and (max-width: 600px) {
  .navWrapper .searchAndLinks form {
    display: none;
  }
}
.navWrapper .searchAndLinks input {
  height: 60px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 20px;
  outline: none;
  border: none;
  font-size: 20px;
  padding: 15px 0 15px 20px;
  color: rgb(140, 140, 140);
}
.navWrapper .searchAndLinks input:focus {
  border: 3px solid #FBE0DC;
}
.navWrapper .searchAndLinks .label {
  position: absolute;
  outline: none;
  border: none;
  background: none;
  left: 90%;
  top: 15%;
}
@media only screen and (max-width: 1000px) {
  .navWrapper .searchAndLinks .label {
    display: none;
  }
}
@media only screen and (max-width: 1600px) {
  .navWrapper .searchAndLinks .label {
    left: 95%;
  }
}
@media only screen and (max-width: 1200px) {
  .navWrapper .searchAndLinks .label {
    left: 93%;
  }
}
.navWrapper .searchAndLinks .linksBTN {
  display: flex;
  gap: 10px;
}

.burger {
  display: flex;
  width: 120px;
  height: 60px;
  background-color: #FFFFFF;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.burger .burgerLine {
  width: 30px;
  height: 5px;
  border-radius: 10px;
  background-color: #FF868E;
  position: relative;
}
.burger .burgerLine::after {
  content: " ";
  width: 30px;
  height: 5px;
  border-radius: 10px;
  background-color: #FF868E;
  position: absolute;
  top: 10px;
}
.burger .burgerLine::before {
  content: " ";
  width: 30px;
  height: 5px;
  border-radius: 10px;
  background-color: #FF868E;
  position: absolute;
  top: -10px;
}

.mobileModal {
  display: flex;
  width: 100%;
  height: 100vh;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #E5E5E5;
}
.mobileModal .closeModalWrapper {
  position: relative;
  top: -25%;
  left: 47%;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 10px;
}
@media screen and (max-width: 800px) {
  .mobileModal .closeModalWrapper {
    left: 45%;
  }
}
@media screen and (max-width: 600px) {
  .mobileModal .closeModalWrapper {
    top: -35%;
    left: 40%;
  }
}/*# sourceMappingURL=navBar.module.css.map */