@import '../styles/variables.module.scss';

.pawLogoContainer {
   display: flex;
   justify-content: space-between;

   .pawbBlockWrapper{
    display: flex;
    cursor: pointer;
    width: 20%;

    .pawLogoContainerPawBox {
      display: flex;
      position: relative;
      width: 20px;
      height: 20px;
      margin-right: 20px;
 
     .pawItemRound{
         background-color: $mainBackgroung;
         width: 6px;
         height: 6px;
         position: absolute;
         border-radius: 50%;
       }
      .pawItemEllipse {
        background-color: $mainBackgroung;
        width: 18px;
        height: 10px;
        position: absolute;
        border-radius: 40%;
      }
    }
   }
   .themeSwitcherContainer {
    display: flex;
    cursor: pointer;
    width: 16%;
    align-items: center;
  
      .themeSwitcher{
        width: 100%;
        display: flex;
        justify-content: space-between;

        .eye {
          display: flex;
          width: 40px;
          height: 40px;
          border-radius: 50px;
          background-color: #F8F8F7;
          padding: 5px;
        }

        .switcher{
          display: flex;
          align-items: center;
          position: relative;
          width: 80px;
          height: 40px;
          border-radius: 50px;
          background-color: #ffb8bd;
          padding: 5px;
          
          .switherBall{
            display: flex;
            position: absolute;
            width: 33px;
            height: 33px;
            border-radius: 50px;
            background-color: #FF868E;
          }
        }
      }  
   }


}