// variables
$secondaryColor : #8C8C8C;
$mainBackgroung : #FF868E;
$buttonColor: rgba(255, 134, 142, 1);
$buttonHover: rgba(251, 224, 220, 1);
$sharedBackgroundColor: rgba(248, 248, 247, 1);
$mainBackground: #E5E5E5;